<a href="https://colab.research.google.com/github/jayicebear/Cardiovascular-disease-predict/blob/main/stat_interpolate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Download data#

In [118]:
import pandas as pd
from pandas import DataFrame, Series
from datetime import datetime
import numpy as np
from scipy import interpolate
import matplotlib.pyplot as plt

In [119]:
app = pd.read_csv('/content/drive/MyDrive/2022 fall DS440/data/APPL/AAPL_monthly_valuation_measures.csv')
JNJ = pd.read_csv('/content/drive/MyDrive/2022 fall DS440/data/JNJ/JNJ_monthly_valuation_measures.csv')
KO = pd.read_csv('/content/drive/MyDrive/2022 fall DS440/data/KO/KO_monthly_valuation_measures.csv')
META = pd.read_csv('/content/drive/MyDrive/2022 fall DS440/data/META/META_monthly_valuation_measures.csv')
NVDA = pd.read_csv('/content/drive/MyDrive/2022 fall DS440/data/NVDA/NVDA_monthly_valuation_measures.csv')

#Preprocessing#

In [120]:
app = app.transpose()
app.rename(columns=app.iloc[0],inplace=True)
app = app.iloc[2:,:3]
app['MarketCap'] = app['MarketCap'].str.replace(',', '').astype(float)
app['EnterpriseValue'] = app['EnterpriseValue'].str.replace(',', '').astype(float)
app = app.apply(pd.to_numeric)

In [121]:
JNJ = JNJ.transpose()
JNJ.rename(columns=JNJ.iloc[0],inplace=True)
JNJ = JNJ.iloc[2:,:3]
JNJ['MarketCap'] = JNJ['MarketCap'].str.replace(',', '').astype(float)
JNJ['EnterpriseValue'] = JNJ['EnterpriseValue'].str.replace(',', '').astype(float)
JNJ = JNJ.apply(pd.to_numeric)

In [122]:
KO = KO.transpose()
KO.rename(columns=KO.iloc[0],inplace=True)
KO = KO.iloc[2:,:3]
KO['MarketCap'] = KO['MarketCap'].str.replace(',', '').astype(float)
KO['EnterpriseValue'] = KO['EnterpriseValue'].str.replace(',', '').astype(float)
KO = KO.apply(pd.to_numeric)

In [123]:
META = META.transpose()
META.rename(columns=META.iloc[0],inplace=True)
META = META.iloc[2:,:3]
META['MarketCap'] = META['MarketCap'].str.replace(',', '').astype(float)
META['EnterpriseValue'] = META['EnterpriseValue'].str.replace(',', '').astype(float)
META['PeRatio'] = META['PeRatio'].str.replace(',', '').astype(float)
META = META.apply(pd.to_numeric)

In [124]:
NVDA = NVDA.transpose()
NVDA.rename(columns=NVDA.iloc[0],inplace=True)
NVDA = NVDA.iloc[2:,:3]
NVDA['MarketCap'] = NVDA['MarketCap'].str.replace(',', '').astype(float)
NVDA['EnterpriseValue'] = NVDA['EnterpriseValue'].str.replace(',', '').astype(float)
NVDA = NVDA.apply(pd.to_numeric)
NVDA

               MarketCap  EnterpriseValue  PeRatio
08/30/2022  3.867000e+11     3.813550e+11      NaN
07/29/2022  4.540750e+11     4.454360e+11      NaN
06/30/2022  3.789750e+11     3.703360e+11   40.641
05/31/2022  4.668000e+11     4.581610e+11   50.059
04/29/2022  4.644195e+11     4.548985e+11      NaN
...                  ...              ...      ...
05/31/1999  3.335362e+08     2.949362e+08   75.867
04/30/1999  3.566903e+08     3.180903e+08   81.133
03/31/1999  4.044992e+08     3.625992e+08   93.867
02/26/1999  4.202999e+08     3.783999e+08      NaN
01/29/1999  3.639918e+08     3.639918e+08      NaN

[294 rows x 3 columns]

In [125]:
META

               MarketCap  EnterpriseValue  PeRatio
08/29/2022  4.277771e+11     4.033551e+11      NaN
07/29/2022  4.275890e+11     4.031670e+11      NaN
06/30/2022  4.348912e+11     4.050542e+11   12.225
05/31/2022  5.240525e+11     4.942155e+11   14.681
04/29/2022  5.425366e+11     5.126996e+11      NaN
...                  ...              ...      ...
09/28/2012  4.640368e+10     3.692168e+10      NaN
08/31/2012  3.868687e+10     2.920487e+10  100.730
07/31/2012  4.651080e+10     3.702880e+10  121.101
06/29/2012  6.648375e+10     6.327975e+10      NaN
05/31/2012  6.328732e+10     6.008332e+10   97.066

[137 rows x 3 columns]

#Interpolation#

In [126]:
app = app.interpolate(method='linear',limit_direction='both')

In [127]:
app2012 = app.iloc[:142,]
app2012

               MarketCap  EnterpriseValue  PeRatio
08/26/2022  2.629496e+12     2.700956e+12  22.2310
07/29/2022  2.611658e+12     2.683118e+12  22.2310
06/30/2022  2.200560e+12     2.269030e+12  22.2310
05/31/2022  2.409002e+12     2.477472e+12  24.2020
04/29/2022  2.551594e+12     2.620064e+12  26.5795
...                  ...              ...      ...
11/30/2012  5.505682e+11     5.214392e+11  13.2570
10/31/2012  5.600128e+11     5.308838e+11  13.4840
09/28/2012  6.253482e+11     5.976942e+11  14.5630
08/31/2012  6.236000e+11     5.959460e+11  15.6420
07/31/2012  5.725301e+11     5.448761e+11  14.3610

[142 rows x 3 columns]

In [128]:
JNJ = JNJ.interpolate(method='linear',limit_direction='both')

In [129]:
JNJ2012 = JNJ.iloc[:138,]
JNJ2012

               MarketCap  EnterpriseValue  PeRatio
08/26/2022  4.318954e+11     4.319244e+11   23.923
07/29/2022  4.588445e+11     4.588735e+11   23.923
06/30/2022  4.671001e+11     4.698601e+11   23.923
05/31/2022  4.724156e+11     4.751756e+11   24.195
04/29/2022  4.748628e+11     4.776228e+11   23.444
...                  ...              ...      ...
11/30/2012  1.932401e+11     1.903201e+11   22.862
10/31/2012  1.962607e+11     1.933407e+11   23.220
09/28/2012  1.899877e+11     1.906377e+11   22.313
08/31/2012  1.859073e+11     1.865573e+11   21.406
07/31/2012  1.908424e+11     1.914924e+11   21.975

[138 rows x 3 columns]

In [130]:
KO = KO.interpolate(method='linear',limit_direction='both')

In [131]:
KO2012 = KO.iloc[:137,]
KO2012

               MarketCap  EnterpriseValue  PeRatio
08/26/2022  2.729273e+11     3.032093e+11  26.5440
07/29/2022  2.775115e+11     3.077935e+11  26.5440
06/30/2022  2.727167e+11     3.040617e+11  26.5440
05/31/2022  2.747541e+11     3.060991e+11  26.7430
04/29/2022  2.800862e+11     3.114312e+11  27.1495
...                  ...              ...      ...
11/30/2012  1.700773e+11     1.847243e+11  19.8020
10/31/2012  1.667583e+11     1.814053e+11  19.4150
09/28/2012  1.701540e+11     1.856700e+11  19.6015
08/31/2012  1.683719e+11     1.838879e+11  19.7880
07/31/2012  1.818777e+11     1.973937e+11  21.3760

[137 rows x 3 columns]

In [132]:
META = META.interpolate(method='linear',limit_direction='both')

In [133]:
META2012 = META.iloc[:135,]
META2012

               MarketCap  EnterpriseValue   PeRatio
08/29/2022  4.277771e+11     4.033551e+11   12.2250
07/29/2022  4.275890e+11     4.031670e+11   12.2250
06/30/2022  4.348912e+11     4.050542e+11   12.2250
05/31/2022  5.240525e+11     4.942155e+11   14.6810
04/29/2022  5.425366e+11     5.126996e+11   15.4145
...                  ...              ...       ...
11/30/2012  6.065996e+10     5.110996e+10  312.6190
10/31/2012  4.573328e+10     3.618328e+10  235.6920
09/28/2012  4.640368e+10     3.692168e+10  168.2110
08/31/2012  3.868687e+10     2.920487e+10  100.7300
07/31/2012  4.651080e+10     3.702880e+10  121.1010

[135 rows x 3 columns]

In [134]:
NVDA = NVDA.interpolate(method='linear',limit_direction='both')

In [135]:
NVDA2012 = NVDA.iloc[:132,]
NVDA2012

               MarketCap  EnterpriseValue  PeRatio
08/30/2022  3.867000e+11     3.813550e+11   40.641
07/29/2022  4.540750e+11     4.454360e+11   40.641
06/30/2022  3.789750e+11     3.703360e+11   40.641
05/31/2022  4.668000e+11     4.581610e+11   50.059
04/29/2022  4.644195e+11     4.548985e+11   60.466
...                  ...              ...      ...
11/30/2012  7.479464e+09     4.064319e+09   14.963
10/31/2012  7.418228e+09     4.003083e+09   14.969
09/28/2012  8.263813e+09     5.005950e+09   16.715
08/31/2012  8.691252e+09     5.433389e+09   18.461
07/31/2012  8.378608e+09     5.120745e+09   17.816

[132 rows x 3 columns]

#Fill the dates#

In [140]:
app2012 = app2012.reset_index().rename(columns={"index": "Date"})
JNJ2012 = JNJ2012.reset_index().rename(columns={"index": "Date"})
KO2012 = KO2012.reset_index().rename(columns={"index": "Date"})
META2012 = META2012.reset_index().rename(columns={"index": "Date"})
NVDA2012 = NVDA2012.reset_index().rename(columns={"index": "Date"})

In [141]:
app2012['Date'] = pd.to_datetime(app2012['Date'])
app2012 = app2012.set_index('Date')    # Changing index for Filling values

app2012 = app2012.resample('D').first()    # Resampling & Assigning values
app2012 = app2012.bfill().ffill()

JNJ2012['Date'] = pd.to_datetime(JNJ2012['Date'])
JNJ2012 = JNJ2012.set_index('Date')    # Changing index for Filling values

JNJ2012 = JNJ2012.resample('D').first()    # Resampling & Assigning values
JNJ2012 = JNJ2012.bfill().ffill()

KO2012['Date'] = pd.to_datetime(KO2012['Date'])
KO2012 = KO2012.set_index('Date')    # Changing index for Filling values

KO2012 = KO2012.resample('D').first()    # Resampling & Assigning values
KO2012 = KO2012.bfill().ffill()

META2012['Date'] = pd.to_datetime(META2012['Date'])
META2012 = META2012.set_index('Date')    # Changing index for Filling values

META2012 = META2012.resample('D').first()    # Resampling & Assigning values
META2012 = META2012.bfill().ffill()

NVDA2012['Date'] = pd.to_datetime(NVDA2012['Date'])
NVDA2012 = NVDA2012.set_index('Date')    # Changing index for Filling values

NVDA2012 = NVDA2012.resample('D').first()    # Resampling & Assigning values
NVDA2012 = NVDA2012.bfill().ffill()

In [142]:
NVDA2012

               MarketCap  EnterpriseValue  PeRatio
Date
2012-07-31  8.378608e+09     5.120745e+09   17.816
2012-08-01  8.691252e+09     5.433389e+09   18.461
2012-08-02  8.691252e+09     5.433389e+09   18.461
2012-08-03  8.691252e+09     5.433389e+09   18.461
2012-08-04  8.691252e+09     5.433389e+09   18.461
...                  ...              ...      ...
2022-08-26  3.867000e+11     3.813550e+11   40.641
2022-08-27  3.867000e+11     3.813550e+11   40.641
2022-08-28  3.867000e+11     3.813550e+11   40.641
2022-08-29  3.867000e+11     3.813550e+11   40.641
2022-08-30  3.867000e+11     3.813550e+11   40.641

[3683 rows x 3 columns]